{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-12 text-center">
            <h1>Board list</h1>
            <a href="{% url 'home' %}">Home</a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <table class="table table-light">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Name</th>
                        <th>Pub_date</th>
                        <th>Contents</th>
                    </tr>
                </thead>
                <tbody class="text-dark">
                    {% for board in boards %}
                    <tr>
                        <th>{{ board.id }}</th>
                        <td>{{ board.title }}</td>
                        <td>{{ board.writer }}</td>
                        <td>{{ board.pub_date }}</td>
                        <td>{{ board.contents }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary">Write</button>
        </div>
    </div>
</div>
{% endblock %}

